

{% extends "layout.njk" %}

{% block style %}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<link href="/css/style.css" rel="stylesheet">
<link href="/css/responsive.min.css" rel="stylesheet">
<link href="/css/fluidbox.min.css" rel="stylesheet">
<link href="/css/ionicons.css" rel="stylesheet">

{% endblock %}

{% block content %}

  <section class="intro-section">
    <div class="container">
      <div class="row">
        <div class="col-md-1 col-lg-2"></div>
        <div class="col-md-10 col-lg-8">
          
          <div class="intro">
            <div class="profile-img">
              <img src="/images/profile-1-250x250.jpg" alt="Foto de perfil de Matheus Andreatta">
            </div>
            <a aria-label="Link para instagram do Super Voluntários" target="_blank" rel="noopener" href="https://www.instagram.com/supervoluntarios/">
              <div>
                <img class="logo-img" width="100px" src="/images/profile-logo.jpg" alt="Foto da logo do Super Voluntários">
                <img class="logo-img logo-last" width="100px" src="/images/logo-sv.jpg" alt="Foto da logo do Super Voluntários">
              </div>
            </a>  
            <!-- <a aria-label="Link para instagram do GDM" target="_blank" rel="noopener" href="https://www.instagram.com/supervoluntarios/">
              <div>
                <img class="logo-img logo-left" width="100px" src="/images/logo-gdm.png" alt="Foto da logo do Super Voluntários">
              </div>
            </a>   -->
            <h1 style="font-size: 2.2em;"><b>Matheus Andreatta!</b></h1>
            <h4 class="font-blue">Não entre em pânico!</h4>

            <ul class="information margin-tb-30">
              <li><b>Vivo desde</b> 1995</li>
              <li>
                <div id="sumir" style="display:block; font-weight: bold;">
                  <a aria-label="Link para aparecer resposta da pergunta secreta" href="javascript:showhide('uniquename','sumir')">
                    Qual o significado da vida, do universo e tudo mais? <i style="color: crimson;" class="fas fa-arrow-circle-left"></i>
                  </a>
                </div>
                <div id="uniquename" style="display:none; color: crimson;">
                  <a aria-label="Resposta da pergunta secreta">Se achou mesmo que tinha alguma coisa aqui?</a>
                </div>
              </li>
              
              <li><b>Status: </b>Bebendo café e programando</li>
            </ul>

            <ul class="social-icons">
              <li><a rel="noopener" aria-label="Link para o GitHub" target="_blank" href="https://github.com/andreattamatheus"><i class="fi-xnsuxl-github"></i></a></li>
              <li><a rel="noopener" aria-label="Link para o LinkedIn" target="_blank" href="https://www.linkedin.com/in/matheusandreatta/"><i class="fi-xnsuxl-linkedin"></i></a></li>
              <li><a rel="noopener" aria-label="Link para o Instagram" target="_blank" href="https://www.instagram.com/andreatta_matheus/"><i class="fi-xnsuxl-instagram"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="about-section section pt-5">
    <div class="container">

      <div class="row">
        <div class="col-sm-4">
          <div class="heading">
            <h3><b>Sobre mim</b></h3>
            <h6 class="font-lite-black"><b>Currículos não são resumos da vida.</b></h6>
          </div>
        </div>
        <div class="col-sm-8">
          <ul>
            <li>Eu realmente acredito que papo de coach é bobeira.</li>
            <li>Sou carinha que faz site, e que aprendeu a programar pelo YouTube.</li>
            <li>Sou formando em Engenheira Civil por algum motivo.</li>
            <li>Voluntariado é a profissão mais enriquecedora do mundo.</li>
            <li class="font-weight-bold">Se não está se divertindo, você não está aprendendo.</li>
            <li class="text-danger d-block">Ah, eu também amo jogar basquete!</li>
          </ul>
        </div>
      </div>

      <div class="row">
          <div class="col-sm-12 mt-5" id="counter">
            <div class="row" >
          
              <div class="col-sm-6 col-md-6 col-lg-4">
                <div class="counter margin-b-50">
                  <h1 class="title"><b><span class="counter-value" data-duration="400" data-count="3">421</span></b></h1>
                  <h5 class="desc"><b>dias sem ler auto-ajuda</b></h5>
                </div><!-- counter -->
              </div><!-- col-md-3-->
              
              <div class="col-sm-6 col-md-6 col-lg-4">
                <div class="counter margin-b-50">
                  <h1 class="title"><b><span class="counter-value" data-duration="1400" data-count="25">10,76</span></b></h1>
                  <h5 class="desc"><b>Projetos concluídos</b></h5>
                </div><!-- counter -->
              </div><!-- col-md-3-->
              
              <div class="col-sm-6 col-md-6 col-lg-4">
                <div class="counter margin-b-50">
                  <h1 class="title"><b><span class="counter-value" data-duration="700" data-count="311">525</span></b></h1>
                  <h5 class="desc"><b>Copos de café ingeridos</b></h5>
                </div><!-- counter -->
              </div><!-- col-md-3-->
              
   
            
            </div><!-- row-->
          </div><!-- col-sm-12 -->
      </div>

    </div>
  </section>

  <section class="experience-section section pt-5 pb-5">
		<div class="container">
		
			<div class="row">
				<div class="col-md-12 col-lg-4 col-sm-4">
					<div class="heading">
            <h3 class="font-lite-black"><b>Experiência Profissional</b></h3>
            <h6 class="font-lite-black"><b>TRABALHOS</b></h6>

					</div>
				</div><!-- col-sm-12 -->
        
        <div class="col-md-12 col-lg-8 col-sm-8">
					<div class="panel margin-b-30">
						<div class="panel-area margin-b-30">
							<h5 class="panel-title active"><b>DESENVOLVEDOR WEB</b>
                <i class="icon minus ion-minus"></i><i class="icon plus ion-plus"></i></h5>
                <div class="container panel-desc">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="experience">
                        <h5 class="font-yellow"><b>Bauner</b></h5>
                        <h6 class="margin-t-10">MAIO 2020 - PRESENTE</h6>
                        <ul class="list margin-t-10">
                          <li>Plataforma de desenvolvimento: Apex Oracle</li>
                          <li>Desenvolvimento em PL/SQL, JavaScript, Python e Node.js</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
						</div><!-- panel-area -->

						<div class="panel-area margin-b-30">
							<h5 class="panel-title "><b>DESENVOLVEDOR WEB JÚNIOR</b>
                <i class="icon minus ion-minus"></i><i class="icon plus ion-plus"></i></h5>
                <div class="container panel-desc">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="experience">
                        <h5 class="font-yellow"><b>Puzzle.lab</b></h5>
                        <h6 class="margin-t-10">OUTUBRO 2019 - MARÇO 2020</h6>
                        <ul class="list margin-t-10r">
                          <li>Framework: Laravel</li>
                          <li>Desenvolvimento em PHP, JavaScript, CSS e HTML.</li>
                          <li>Foco em UX</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
						</div><!-- panel-area -->
						
	
						
						<div class="panel-area margin-b-30">
							<h5 class="panel-title"><b>ESTAGIÁRIO EM DESENVOLVIMENTO WEB</b>
								<i class="icon minus ion-minus"></i><i class="icon plus ion-plus"></i></h5>
                <div class="container panel-desc">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="experience">
                        <h5 class="font-yellow"><b>Backstage Digital</b></h5>
                        <h6 class="margin-t-10">JUNHO 2019 - AGOSTO 2019</h6>
                        <ul class="list">
                          <li>Desenvolvimento em HTML e CSS</li>
                        </ul>
                      </div>
        
                    </div>
            
                  </div>
                </div>
            </div><!-- panel-area -->
            

            <div class="panel-area margin-b-30">
							<h5 class="panel-title"><b>VENDEDOR DE CHUP-CHUP</b>
								<i class="icon minus ion-minus"></i><i class="icon plus ion-plus"></i></h5>
                <div class="container panel-desc">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="experience">
                        <h5 class="font-yellow"><b>Pinguim Pistola</b></h5>
                        <h6 class="margin-t-10">FEVEIRERIO 2019 - FEVEREIRO 2019</h6>
                        <ul class="list">
                          <li>Projetos Arquitetônicos, Elétricos e Hidrossanitários</li>
                        </ul>
                      </div>
                    </div>
            
                  </div>
                </div>
            </div><!-- panel-area -->

            <div class="panel-area margin-b-30">
							<h5 class="panel-title"><b>ENGENHEIRO CIVIL</b>
								<i class="icon minus ion-minus"></i><i class="icon plus ion-plus"></i></h5>
                <div class="container panel-desc">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="experience">
                        <h5 class="font-yellow"><b>Freelancer</b></h5>
                        <h6 class="margin-t-10">SETEMEBRO 2019 - PRESENTE</h6>
                        <ul class="list">
                          <li>Projetos Arquitetônicos, Elétricos e Hidrossanitários</li>
                        </ul>
                      </div>
                    </div>
            
                  </div>
                </div>
            </div><!-- panel-area -->

            <div class="panel-area margin-b-30">
							<h5 class="panel-title"><b>ESTAGIÁRIO EM ENGENHEIRO CIVIL</b>
								<i class="icon minus ion-minus"></i><i class="icon plus ion-plus"></i></h5>
                <div class="container panel-desc">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="experience">
                        <h5 class="font-yellow"><b>Gerência de Hbaitação Executiva - CAIXA</b></h5>
                        <h6 class="margin-t-10">JUNHO 2016 - JULHO 2018</h6>
                        <ul class="list">
                          <li>Projetos Arquitetônicos, Elétricos e Hidrossanitários</li>
                        </ul>
                      </div>
                    </div>
            
                  </div>
                </div>
            </div><!-- panel-area -->

					</div><!-- panel -->
        </div><!-- col-sm-6-->

			</div><!-- row -->
		</div><!-- container -->
  </section><!-- accordian-section -->
  
  <section class="quoto-section text-center">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<i class="icon ion-quote"></i>
					<h3 class="font-yellow"><b>Não existe segredo para o sucesso.</b></h3>
					<h3><b>É so ser rico, acordar 5:00 AM, <span class="font-yellow">não dormir</span>,
					e ler livros de auto-ajuda.</b></h3>
				</div><!-- col-sm-12 -->
			</div><!-- row -->
		</div><!-- container -->
  </section><!-- quoto-section -->
  
  <section class="education-section section pt-5">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="heading">
          <h3><b>FORMAÇÃO</b></h3>
          <h6 class="font-lite-black"><b>CARREIRA ACADÊMICA</b></h6>
          </div>
        </div>
        <div class="col-sm-8">
          <div class="education-wrapper">
            <div class="education margin-b-50">
              <h4><b>GRADUAÇÃO EM ANÁLISE E DESENVOLVIMENTO DE SISTEMAS</b></h4>
              <h5 class="font-yellow"><b>UVV - UNIVERSIDADE DE VILA VELHA</b></h5>
              <h6 class="font-lite-black margin-t-10">CONCLUSÃO EM AGOSTO DE 2021</h6>
            </div>
            <div class="education margin-b-50">
              <h4><b>GRADUAÇÃO EM ENGENHARIA CIVIL</b></h4>
              <h5 class="font-yellow"><b>FAESA CENTRO UNIVERSITÁRIO</b></h5>
              <h6 class="font-lite-black margin-t-10">FORMADO EM AGOSTO DE 2018 (5 ANOS)</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer>
    <p class="copyright text-white p-4">
      Meu site pessoal com todos os direitos não reservados.
    </p>
  </footer>


{% endblock %}



{% block scripts %}
    
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13" ></script>

  <script src="/js/tether.min.js" type="text/javascript"></script>
  <script src="/js/jquery.waypoints.min.js" ></script>
  <script src="/js/progressbar.min.js"></script>
  <script src="/js/scripts.js" ></script>
  <script src="/js/jquery.fluidbox.min.js"></script>
  <script src="/js/isotope.pkgd.min.js"></script>
  <script src="/js/bootstrap.js"></script>


  <script>
    function showhide(id,sumir) {
        var e = document.getElementById(id);
        e.style.display = (e.style.display == 'block') ? 'none' : 'block';
        
        var x = document.getElementById(sumir);
        x.style.display = (x.style.display == 'none') ? 'block' : 'none';
      }
  </script>

  <script>
    const firstLogo = document.querySelector('.intro .logo-img:first-child');
    const lastLogo = document.querySelector('.intro .logo-img:last-child');
    const logosv = document.querySelector('.intro .logo-last');

    logosv.addEventListener("mouseover", function (){
      lastLogo.classList.add('d-none');
    });
    
    logosv.addEventListener("mouseout", function (){
      lastLogo.classList.remove('d-none');
    });

  </script>


  <script>  
    $(document).ready(function(){  

      $("form").submit(function(e){
            e.preventDefault();
            var name = $('#name').val();  
            var message = $('#message').val();  
            var email = $('#email').val();  
            var subject = $('#subject').val();  
            if(name == '' || message == '' || email == '' || subject == '')  
            {  
                  $('#error_message').html("Todos os campos são obrigatórios");  
            }  
            else  
            {  
                  $('#error_message').html('');  
                  $.ajax({  
                      url:"email.php",  
                      method:"POST",  
                      data:{name:name, message:message, email:email, subject:subject},  
                      success:function(data){  
                            $("#email-sending")[0].reset();
                            $('#success_message').fadeIn().html('Email enviado!');  
                            setTimeout(function(){  
                                $('#success_message').fadeOut("Slow");  
                            }, 2000);  
                      }  
                  });

            }  
        });  
      });  
  </script>  
  
{% endblock %}